.titles,
.list-data {
  font-size: 28px;
  background-color: #243447;
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 50px auto;
  padding: 10px 20px;
  border: 2px solid #9d0a7f;
  border-radius: 16px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.titles span:nth-of-type(even),
.list-data span:nth-of-type(even) {
  color: #9d0a7f;
}

.list-data .id {
  color: #c51f5d;
}

.list-data .delete-item {
  cursor: pointer;
  user-select: none;
  color: #ff0000;
}

.empty-msg {
  font-size: 28px;
  text-align: center;
}
